{% extends "base.html" %}

{% block title %}
<head>
    <title>Bucket List</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up tomorrow</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>item 1</p>

                <h4>Bucket List</h4>
                <p>item 2</p>

                <h4>Bucket List</h4>
                <p>item 3</p>
            </div>

            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>item 4</p>

                <h4>Bucket List</h4>
                <p>item 5</p>

                <h4>Bucket List</h4>
                <p>item 6</p>
            </div>
        </div>
    {% else %}
        <div class="row marketing">
            <div class="col-lg-6">
                {% for id, todo in current_user.todo_list().items() %}
                <p>{{ todo }}</p>
                {% endfor %}
            </div>
            <a href="/add" class="btn btn-lg btn-primary btn-block">Add new todo</a>
        </div>
    {% endif %}
{% endblock %}
