<!DOCTYPE html>
<html lang="en">

{% block title %}{% endblock %}

<body>
<div class="container">

{% block header %}
    <h3 class="text-muted">Python Flask App</h3>
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="btn btn-default active"><a href="/">Home</a>
                </li>
                {% if not current_user.is_authenticated %}
                    <li role="presentation" class="btn btn-default"><a href="/login">Login</a>
                    </li>
                    <li role="presentation" class="btn btn-default"><a href="/signup">Sign Up</a>
                    </li>
                {% else %}
                    <li role="presentation" class="btn btn-default"><a href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer class="footer">
    <h4>Footer</h4>
</footer>
{% endblock %}

</div>

</body>

</html>
