{% extends "base.html" %}

{% block title %}
<head>
    <title>Python Flask Bucket List App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Bucket List App</h1>
    {% from "_formhelpers.html" import render_field %}
    <form name="login_form" class="form-signin" action="/login" method="POST">
        {{ render_field(form.name, class="form-control", placeholder="Name", autofocus=true) }}
        {{ render_field(form.password, class="form-control", placeholder="Password") }}
        {{ form.csrf_token }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
    </form>
</div>
{% endblock %}
